%table#songlist
  - @songs.each do |song|
    %tr{id: 'song_' + song.id.to_s}
      %td.name
        = song.name
      %td.artist
        = song.artist
      %td.status
        - downloaded, progress = song.status
        - if downloaded
          已下载
        - elsif progress.nil?
          = link_to '下载', download_song_path(song), method: 'POST'
        - else
          正在下载 -
          %span.progress{'data-id' => song.id}
            = '%.2f%%' % (100 * progress)
          = form_tag(refresh_download_progress_song_path(song), remote: true,
            data: {role: "refresh-download-progress"}) do
            = hidden_field_tag(:id, song.id)
      %td.play
        = link_to '播放', song.video_path
