<!DOCTYPE html>
<html>
  <head>
    <title>iKTV</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/hls.js@latest' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
